.about {
  &__container {
    padding: 50px;
  }
  &__header {
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0px;
  }
  &__text {
    color: #ffffff;
    font-size: 16px;
    margin: 10px 0px;
    line-height: 30px;
  }
  &__img {
    max-width: 400px;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    @media only screen and (max-width: 800px) {
      width: 100%;
    }
  }
  &__link:hover {
    color: blue;
  }
  &__anime {
    display: flex;
    justify-content: center;
    &--img {
      margin: 15px;
      max-width: 150px;
      border-radius: 5px;
    }
    &--title {
      text-align: center;
    }
    @media only screen and (max-width: 900px) {
      display: block;
      &--img {
        display: block;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
