.contact {
  &__container {
    padding: 50px;
  }
  &__header {
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0px;
  }
  &__text {
    color: #ffffff;
    font-size: 16px;
    margin: 10px 0px;
  }
  &__info {
    &--img {
      width: 50px;
      height: 50px;
      border-radius: 5px;
      margin-right: 10px;
      margin-top: 10px;
    }
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 5px;
  position: absolute;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
