.sidebar {
  &__container {
    position: fixed;
    background-color: #ffffff;
    height: 100vh;
    width: 300px;
    padding-top: 15px;
    overflow-x: auto;
    z-index: 1;
  }

  &__profile {
    border-radius: 50%;
    width: 200px;
    padding: 15px;
  }

  &__header {
    padding: 15px;
    color: black;
    font-size: 18px;
    border-radius: 5px;
  }

  &__header:hover {
    background-color: grey;
  }
}
