.app {
  &__intro {
    background: url('./assets/images/MikuWallpaper.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  &__work {
    background: url('./assets/images/MikuWorkWallpaper.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  &__projects {
    background: url('./assets/images/MikuProjectsWallpaper.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  &__awards {
    background: url('./assets/images/MikuAwardsWallpaper.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  &__contact {
    background: url('./assets/images/MikuSceneryWallpaper.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    &--container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    &--icons {
      column-count: 3;
      width: 200px;
      margin-left: auto;
      margin-right: auto;
      top: 50%;
      @media only screen and (max-width: 200px) {
        column-count: 1;
        width: 100%;
      }
    }

    &--icon {
      display: block;
      color: white;
      margin-left: auto;
      margin-right: auto;
      background-color: white;
      width: 50px;
      border-radius: 5px;
      @media only screen and (max-width: 200px) {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }

  &__background {
    padding: 50px 0px;
    font-size: 18px;
    width: 600px;
    margin: 0px auto;
    line-height: 30px;
    @media only screen and (max-width: 700px) {
      width: 85%;
    }
  }
}
