.app {
  &__intro {
    background: url('./assets/images/MikuWallpaper.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  &__work {
    background: url('./assets/images/MikuWorkWallpaper.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  &__projects {
    background: url('./assets/images/MikuProjectsWallpaper.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  &__awards {
    background: url('./assets/images/MikuAwardsWallpaper.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  &__contact {
    background: url('./assets/images/MikuSceneryWallpaper.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    &--icon {
      color: white;
      margin: 10px;
      background-color: white;
      width: 50px;
      border-radius: 5px;
    }
  }

  &__background {
    padding: 50px 0px;
    font-size: 18px;
    width: 600px;
    margin: 0px auto;
    line-height: 30px;
    @media only screen and (max-width: 700px) {
      width: 90%;
    }
  }
}
